.backimg {
  border-top-left-radius: 30px;
}
.container {
    position: relative;
    text-align: center;
    color: #504F76;
    background: none;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .app {
    position: absolute;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 30%;
    left: 45%;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: none;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    background: none;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
    background: none;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    background: none;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    background: none;
  }
  .about {
    transform: translate(25%, 40%);
    background: none;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .bar {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 25px;
    background: none;
  }
  .contact {
    transform: translate(25%, 120%);
    background: none;
}
  .cont {
    position: absolute;
    top: 33%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    color: rgb(196, 160, 62);
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    font-family: Arial Black;
    font-size: 25px;
    background: none;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 6.5%;
    left: 50.85%;
    transform: translate(-50%, -50%);
    color: #3688A3; 
    text-align: center; 
    font-family: Georgia;
    font-weight: bold; 
    font-size: 80px; 
    text-shadow: 2px 2px 30px #000, -2px -2px 30px #000, -2px 2px 30px #000, 2px -2px 30px #000; 
    background: none;
  }
  .cctitle {
    padding-left: 150px;
    font-size: large;
    transform: translateY(-670%);
  }
  .cctext {
    padding-left: 150px;
    transform: translateY(-850%);
  }
  .cctext2 {
    padding-left: 150px;
    transform: translateY(-840%);
  }
  .cctext3 {
    padding-left: 150px;
    transform: translateY(-830%);
  }
  .cctext4 {
    padding-left: 150px;
    transform: translateY(-820%);
  }
  .text-medium {
    padding-left: 150px;
    transform: translateY(-800%);
    color: #646464;
  }
  .g-0{
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 25px;
    padding-left: 10px;
    max-height: 210px;
    max-width: 550px;
  }
  .comp {
    background-color: #504F76;
    padding-left: 70px;
    padding-top: 10px;
  }
  .cursorDot {
    text-align: center;
    z-index: 1;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: url(Cursor.png) auto;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 330px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
    background: none;
  }
  .dataResult .dataItem {
    width: 330px;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    font-family: Arial;
    background: none;
  }
  .dataItem p{
    margin-left: 10px;
    background: none;
  }
  a {
    text-decoration: none;
    background: none;
    color: orange;
  }
  a:hover{
    background: none;
  }
  #clearBtn {
    cursor: pointer;
  }
  .local {
    transform: translate(25%, 200%);
    background: none;
  }
  .locality {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
  }
  .locpoint {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
  }
  .login {
    color: orange; 
    text-align: right;
    padding-right: 125px; 
    font-family: Arial Black; 
    font-size: 20px; 
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    background-color: #504F76;
  }
  .rect {
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    top: -36%;
    left: 6.5%;
    width: 190px;
    height: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translate(-50%, 50%);
    background-color: #d81111;
  }
  .rctngl {
    display: inline-block;
    width: 1570px;
    height: 100px;
    background-color: #aca5a5;
    transform: translateY(-5%);
  }
  .res {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 40%;
    background: white;
  }
  .res2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 39.75%;
    width: 545px;
    background: white;
  }
  .res3 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 540px;
    top: 75%;
    left: 40%;
    background: white;
  }
  .text {
    position: absolute;
    color: rgb(173, 171, 167);
    font-family: Arial Black; 
    font-size: 30px;
    top: 24%;
    left: 50.85%;
    transform: translate(-50%, -50%); 
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    background: none;
  }
  .text2 {
    position: absolute;
    color: rgb(23, 83, 8);
    font-family: Arial Black; 
    font-size: 25px;
    top: 20%;
    left: 30.85%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 30px #000; 
    background: none;
  }
  .text3 {
    position: absolute;
    color: rgb(209, 125, 16);
    font-family: Arial Black; 
    font-size: 25px;
    top: 20%;
    left: 48.85%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #000; 
    background: none;
  }
  .text4 {
    position: absolute;
    color: rgb(23, 83, 8);
    font-family: Arial Black; 
    font-size: 25px;
    top: 28%;
    left: 34.3%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 30px #000; 
    background: none;
  }
  .text5 {
    position: absolute;
    color: rgb(209, 125, 16);
    font-family: Arial Black; 
    font-size: 25px;
    top: 28%;
    left: 48.85%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #000; 
    background: none;
  }
  .text6 {
    position: absolute;
    color: rgb(23, 83, 8);
    font-family: Arial Black; 
    font-size: 25px;
    top: 35%;
    left: 31.7%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 30px #000; 
    background: none;
  }
  .text7 {
    position: absolute;
    color: rgb(209, 125, 16);
    font-family: Arial Black; 
    font-size: 25px;
    top: 35%;
    left: 44.85%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #000; 
    background: none;
  }
  .searchInputs {
    display: flex;
    margin-top: 105px;
    background: none;
  }
  .search input {
    background-color: rgb(250, 235, 235);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: rgb(245, 213, 143);
    display: grid;
    place-items: center;
  }
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
    color: rgb(46, 43, 43);
    background: none;
  }

@media only screen and (max-width: 1259px) {
   .bar .centered {
    max-width: 500px;
  }
}
@media only screen and (max-width: 649px) {
   .bar .centered {
    max-width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .bar .centered {
   max-width: wrap;
 }
}
