* {
  background-color: rgba(206, 194, 194);
}
.container {
    position: relative;
    text-align: center;
    color: white;
    background: none;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .about {
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    font-family: Arial Black;
    font-size: 15px;
    color: orange;
    text-align: right;
    padding-right: 70px;
    transform: translateY(10%);
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  .bar {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 25px;
    background: none;
  }
  .contact {
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    font-family: Arial Black;
    font-size: 15px;
    color: orange;
    text-align: right;
    transform: translateY(207%);
    padding-right: 320px;
    background: none;
}
  .cont {
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(196, 160, 62);
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    font-family: Arial Black;
    font-size: large;
    padding-left: 15px;
    padding-top: 25px;
    background: none;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3688A3; 
    text-align: center; 
    font-family: Arial Black; 
    font-size: 50px; 
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000; 
    padding-top: 20px; 
    padding-left: 10px;
    background: none;
  }
  .cntr {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3688A3; 
    text-align: center; 
    font-family: Arial Black; 
    font-size: 50px; 
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    background: none;
  }
  .comp {
    text-align: center;
    background-color: #504F76;
    font-size: 25px;
    transform: translateY(15%);
    
  }
  .cursorDot {
    text-align: center;
    z-index: 1;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: url(Cursor.png) auto;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 330px;
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
    background: none;
  }
  .dataResult .dataItem {
    width: 330px;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    font-family: Arial;
    background: none;
  }
  .dataItem p{
    margin-left: 10px;
    background: none;
  }
  a {
    text-decoration: none;
    background: none;
    color: orange;
  }
  a:hover{
    background-color: #504F76;
  }
  #clearBtn {
    cursor: pointer;
  }
  .press {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .categories {
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;
    font-family: Arial Black;
    font-size: 15px;
    color: orange;
    text-align: right;
    padding-right: 170px;
    transform: translateY(110%);
    background: none;
  }
  .rectangle {
    display: inline-block;
    width: 1570px;
    height: 100px;
    transform: translateY(4%);
    background-color: #504F76;
  }
  .rctngl {
    display: inline-block;
    width: 1570px;
    height: 100px;
    background-color: #aca5a5;
    transform: translateY(-5%);
  }
  .searchInputs {
    display: flex;
    margin-top: 105px;
    background: none;
  }
  .search input {
    background-color: rgb(250, 235, 235);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: rgb(245, 213, 143);
    display: grid;
    place-items: center;
  }
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
    color: rgb(46, 43, 43);
    background: none;
  }

@media only screen and (max-width: 1259px) {
   .bar .centered .contact .qna{
    max-width: 500px;
  }
}
@media only screen and (max-width: 649px) {
   .bar .centered .contact .qna{
    max-width: 400px;
  }
}
@media only screen and (max-width: 550px) {
  .container .bar .centered{
    flex-wrap: wrap;
  }
}